.btn-form {
    margin: 2em 0 1em 0 !important;
    background-color: #a8004c !important;
    color: #f5f5f5 !important;
    font-weight: bold !important;
    transition: background-color 1s linear 1s;
}

.btn-form:hover {
    background-color: #a8004c !important;
    opacity: 0.85;
}

.color-circular {
    color: #00a85D !important;
}