.container-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px #00a85D;
    border-radius: 0.3em;
    margin: 2em;
}

.alert-auth-error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-input-email-auth {
    width: 100%;
}
